/* <---------------------PAGINA DETALLE SEBA----------------------> */
/* :root {
	--rojo: #E50914;
	--fondo: #141414;
} */

/*---PODRIA AJUSTARSE------
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

.body {
 /* background: var(--fondo);
	font-family: 'Open Sans', sans-serif; */
	margin: 0;
}
.video {
	position: relative;
	border-radius: 1em ;
	border: 3px solid #F0E0A0;
	min-width: 98%;
	min-height: 100%;
	height: 510px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(10%);
	 /* z-index: -1;  */ 
}
.containerD {
	width: 98%;
	margin: auto;
}

.imgD{
transition: all 0.5s ease;
cursor:zoom-in;
float: left;
margin-top: -370px;
/*Podria modificarsew ---- */
width: 280px;
height: 360px;
object-fit: cover;
display: block;
}
.imgD:hover {
	transform: scale(1.11);
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.principalmovie
 {
margin-top: 0.8em;
height: 100%;
width: 100%;
background-position: center center; 
background-size: cover;
display: flex;
align-items: center;
}

.principalmovie .containerD {
	margin: 0 auto;
	margin-bottom: 6.25em;
	
	/* -----------!! Parametro a modificar!! ----------- */
	/* margin-top: 400px; */
}

.principalmovie .title {
	text-align: center;
	font-size: 3em;
	margin-bottom: 3em;
    margin: auto;
    color: lightsalmon;
}

.principalmovie .description {
	text-align: initial;
	color: whitesmoke;
    margin-left: 300px;
	font-size: 1.2em;
	line-height: 1.75em;
	max-width: 100%;
	margin-bottom: 1.15em;
	list-style: none;
}

 .botonD {
	width: auto;
	text-decoration: none;
	margin: 10px ;
    background: rgba(0,0,0, 0.5);
	border: none;
	transform: translateY(50%); 
	border-radius: 0.31em;
	padding: 0.8em 1em; 
	overflow: hidden;
	color: #fff;
    margin-right: 0.5em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

 .botonD:hover {
	background: #c02020;
	color: #000; 
}

 .botonD i {
	margin-right: 1.25em;
}

.c_container {
margin-right: 50%;
margin-left: 50%;
width: 90%;
margin: 20px;
opacity: 0.5;
}
.card-title {
	color: #F0E0A0;
}
.card-text {
	color: white;
}
a.class_a_href {
	color: #F0E0A0;
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}



/* ---- ------------- ----- Media Queries ----- ----- ------------------ */
@media screen and (max-width: 1024px) {

.principalmovie 
.containerD, .main, 
.description, .informacion, .video{
	width: 95%;
}

.principalmovie 
.description, .informacion {
	text-align: initial;
	width: 95%;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
}
.imgD {  
	float: left;
	height: 220px;
	width: 200px;
	margin-top: -240px;
	margin-left: 0px;
} 
.botonD {
margin: 10px;
font-size: 0.9em;
}
}

@media screen and (max-width: 426px){
	.body {
		width: 90%;
	}
	.principalmovie 
	.containerD, .main, 
	.description, .video{
		width: 90%;
		
	}
	.principalmovie 
	.description {
		text-align: initial;
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
	}
	.imgD{
		display: none;
	} 
	.botonD {
	font-size: 0.8em;
	padding: 1em;
	margin: 0 ;
	}
}

@media screen and (max-width: 360px){
	.body {
		width: 98%;
	}
	.principalmovie 
	.containerD, .main, 
	.description, .video{
	width: 90%;
	}
	.video{
		height: 420px;
	}
	.principalmovie 
	.description {
		text-align: initial;
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
	}
	.imgD{
		display: none;
	} 
	.botonD {
		width: 98%;
		font-size: 0.7em;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
		margin: 0 ;
		}
}