*{
    margin: 0;
    padding: 0;
}
.landingPage{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    align-items: stretch;
}
.landingHeader{
    width: 100%;
    /* height: 10%; */
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
#buttonInicio{
    width: 390px;
    height: 50px;
    display: flex;
    justify-content: 
    space-evenly;
    padding-top: 10px;
    /* padding-right: 15px; */
    border-radius: 10px;
}
#iniciarSesion{
    background-color: rgba(0, 0, 0, 0.3);
    color: #f0f2f5;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    border-style: none;
    text-decoration: none;
    text-align: center;
   padding-top: 15px;
   border-radius: 5px;
}
#unir{
    background-color: #f89c0b;
    color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    border-style: none;
    /* font-weight: 500; */
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;   
}
#iniciarSesion:hover {
    border-style: none; 
    text-decoration: underline;
    background-color: #939696;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
#unir:hover{
    border-style: none; 
    text-decoration: underline;
    background-color:#e9b663;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
    
/* landingContainer */


#landingHero{
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#heroLand{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
 
}
#textLanding{
    /* background-color: #0c1113;
    background-color: rgba(0, 0, 0, 0.3); */
    margin-left: 10%;
    padding-top: 10%;
    width: 50%;
    text-align: left;
    position: absolute;
}
#landingH1, #landingP{
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f2f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    border-radius: 5px;
}

#landingP{
    color: #f0f2f5;
    font-size: 25px;
}
@media screen and (max-width:700px){
    .landingHeader{
        width: 100%;
        height: 10%;
        flex-direction: column;
    }

    #buttonInicio {
        width: 100%;
        height: 55px;
        justify-content: space-evenly;
        padding-top: 0px;
        
    }
    #landingHero{
        width: auto;
        /* position: relative; */
        display: flex;
        justify-content: space-around;
    }
    #landingH1{
       font-size: 30px;
    }
    #landingP{
font-size: 20;
    }
} 




/* Footer  */

/* footer{
    background-color: #343a40;
    position: absolute;
    z-index: 1;
    flex-wrap: wrap-reverse;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: .5rem;
}

@media(min-width: 992px) {
    .social-icons {
        flex-direction: column;
        align-items: center;
    }
    .social-icon {
        margin: 1rem;
    }
    .center-lg {
        text-align: center;
    }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f7b26a;
    font-size: 2.5rem;
}

.social-icon:hover {
    text-decoration: #f7b26a;
    color: tomato;
}

.copyright-legal {
    background-color: #181a1d;
} */
