*{
    margin: 0;
    padding: 0;
}
.landingPage{
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* z-index: 0; */
    align-items: stretch;
}
.landingHeader{
    background-color: rgba(12, 17, 19, 0.7);
    width: 100%;
    /* height: 10%; */
    position: absolute;
    /* z-index: 0; */
    display: flex;
    justify-content: space-between;
}
#buttonInicio{
    width: 390px;
    height: 50px;
    display: flex;
    justify-content: 
    space-evenly;
    padding-top: 10px;
    /* padding-right: 15px; */
    border-radius: 10px;
}
#iniciarSesion{
    background-color: #c02020;;
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    border-style: none;
    text-decoration: none;
    text-align: center;
   border-radius: 5px;
}
#unir{
    background-color: #f89c0b;
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    border-style: none;
    /* font-weight: 500; */
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;   
}
#iniciarSesion:hover {
    border-style: none; 
    text-decoration: underline;
    background-color: #e63e3e;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
#unir:hover{
    border-style: none; 
    text-decoration: underline;
    background-color:#eeac43;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
  




/* landingContainer */


#landingHero{
    background-image: url(/img/Movies-background.png);
    /* background: linear-gradient(to bottom right, #c02020 0%, #0c1113 100%); */
    width: 100%;
    height: 100vh;

}
#textLanding{
    margin-left: 10%;
    padding-top: 15%;
    width: 50%;
   
    position: absolute;
}
#landingH1, #landingP{
    background-color: rgba(12, 17, 19, 0.8);
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    border-radius: 5px;
    padding:30px 20px 0px 20px;
}

#landingP{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 10px 20px 30px 20px; 
}
@media screen and (max-width:740px){
    .headerContainer{
     display: flex;
     justify-content: center;
     min-width: 385px;
    }
    .landingHeader{
        width: 90%;
        height: 100%;        
        display: block;
    }
    #logoImg{

        margin: 15%;
    }
    #buttonInicio {
    
        width: 100%;
        height: 50px;
        padding-top: 0px;         
    }
    #textLanding{
        display: none;
    }
} 


body::-webkit-scrollbar {
    width: 10px;
    color: #0c1113;
}
body::-webkit-scrollbar-thumb{
    background:#F0E0A0;
    border-radius:10px;
    border-right:2px;
}