*{
    margin: 0;
    padding: 0;
}
.landingPage{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    align-items: stretch;
}
.landingHeader{
    background-color: rgba(12, 17, 19, 0.7);
    width: 100%;
    /* height: 10%; */
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
#buttonInicio{
    width: 390px;
    height: 50px;
    display: flex;
    justify-content: 
    space-evenly;
    padding-top: 10px;
    /* padding-right: 15px; */
    border-radius: 10px;
}
#iniciarSesion{
    background-color: #c02020;;
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    border-style: none;
    text-decoration: none;
    text-align: center;
   padding-top: 15px;
   border-radius: 5px;
}
#unir{
    background-color: #f89c0b;
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    border-style: none;
    /* font-weight: 500; */
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;   
}
#iniciarSesion:hover {
    border-style: none; 
    text-decoration: underline;
    background-color: #e63e3e;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
#unir:hover{
    border-style: none; 
    text-decoration: underline;
    background-color:#eeac43;
    transition: 0.3s;
    transition-duration: 0.3s;
    text-decoration-line: underline;
}
  




/* landingContainer */


#landingHero{
    background-image: url(/img/Movies-background.png);
    /* background: linear-gradient(to bottom right, #c02020 0%, #0c1113 100%); */
    width: 100%;
    height: 100vh;
}
#textLanding{
    margin-left: 10%;
    padding-top: 15%;
    width: 50%;
   
    position: absolute;
}
#landingH1, #landingP{
    background-color: rgba(12, 17, 19, 0.8);
    color: #f0e0a0;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    border-radius: 5px;
    padding:30px 20px 0px 20px;
}

#landingP{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 10px 20px 30px 20px; 
}
@media screen and (max-width:740px){
    .headerContainer{
     display: flex;
     justify-content: center;
     min-width: 385px;
    }
    .landingHeader{
        width: 90%;
        height: 100%;        
        display: block;
    }
    #logoImg{

        margin: 15%;
    }
    #buttonInicio {
    
        width: 100%;
        height: 50px;
        padding-top: 0px;         
    }
    #textLanding{
        display: none;
    }
} 




/* Footer  */

footer{
    background-color: #0c1113;
    position: absolute;
    width: 100%;
    bottom:-13.5%;
    width: 100%; 
    z-index: 1;
}
#footerLanding{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: wrap;
}
#redesS{
    width: 18%;
    height: 75px;
}
#contact{
    width: 80%;
    height: 70px;
    text-align: justify;
    margin-left: 25px;
}
#contacto{
    display: flex;
    justify-content: space-evenly;
}
#copy{
    display: flex;
   justify-content: space-between;
}
.social-icons {
    display: flex;
   flex-direction: wrap;
   margin: .5rem;
}

@media(min-width: 992px) {
    .center-lg {
        text-align: center;
    }
}
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f0f2f5;
    font-size: 25px
}
 #text{
     font-family: 'Montserrat', sans-serif;
 color: #f0e0a0;
    }
.social-icon:hover {
    color: #c02020;
}

.copyright-legal {
    color: #c02020;
}
