.menu-user{
    display: flex;
    justify-content: flex-end;
   }
   .btn-user{
       outline: none;  
       border-radius: 50%;
       width: auto ;
       position: relative;
       display: inline-block;
   }
   .items-user{
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
   }
   .truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}
   .lista{
       display: flex;
       flex-direction: column;
       position: absolute;
       z-index: 9999;
       background: #010f2b;
       opacity: 0.9;
       top: 80px;  
       box-shadow: 0px 0px 5px black;
       float: right;   
       min-width: 160px;
   }
   
   .p-white {
       color: white;
       font-size: 1vw
   }
   
   .btn-exit{
       background: none;
       border: none;   
   }
   .img-icon{
       width:20px;
       height:20px;
   }
   .option{
       display: block;
       padding: .5rem 1rem;
       text-decoration: none;
   }
   
   .option:hover{
       background-color: #010b1f;
       color: white;
       text-decoration: none;
   }