
.p-white {
    color: white;
    font-size: 1.6vw;
    font-weight: bolder;
}
.btn-user{
    outline: none;  
}
.btn-user{
   
}
.lista{
    position: absolute;
    z-index: 9999;
    background: #010f2b;
    opacity: 0.9;
    width: 180px;
    top: 50px;
    left: -100px;
    box-shadow: 0px 0px 5px black;
    float: right;
    min-width: 160px;
}
.img-user{
    position: absolute;
}

