/*PAGE ERROR STYLE*/

@keyframes noise {
    0% {
        background-position: 1000px;
    }
}

.error-404 {
    text-align: center;
    overflow: hidden;
    margin: 0px;
    background: rgb(31, 31, 31);
    height: 100vh;
    box-shadow: 0px 0px 122px 25px black inset;
    background-image: url('https://i.imgur.com/eg7VIun.jpg');
    background-repeat: repeat;
    animation: noise 20ms linear infinite;
}

.glitch-wrapper {
    padding-top: 180px;
    width: 100vw;
    text-align: center;
    animation: glitch 2s linear infinite;
    margin-bottom: 110px;
}

.glitch-text,
button {
    font-family: monospace;
    font-weight: bold;
}

.glitch-text::before {
    content: 'ERROR 404';
    color: black;
    text-shadow: 0px 0px 5px 10px black!IMPORTANT;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7x);
    -ms-filter: blur(7px);
    filter: blur(7px);
    display: block;
    position: absolute;
    z-index: -1;
    font-size: 3em;
    left: 0px;
    right: 0px;
    margin-top: -30px;
    opacity: .5;
}

.glitch-text {
    position: relative;
    z-index: 2;
    opacity: .9;
    margin: 0 auto;
    text-shadow: 0px 0px 3px white;
    animation: glitch 3s infinite;
    cursor: pointer;
    font-size: 2em;
    color: white;
}

button {
    display: block;
    opacity: .6;
    box-shadow: 0px 0px 3px 6px white, 0px 0px 3px white;
    text-shadow: 0px 0px 3px black;
    background: white;
    border: 0px;
    padding: 7px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    transition: 200ms;
}

button:hover,
button:focus,
button:active {
    box-shadow: 0px 0px 3px 6px black;
    text-shadow: 0px 0px 3px white;
    background: black;
    color: white;
    transition: 200ms;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* JUST RANDOM VALUES HERE! */

@keyframes glitch {
    3% {
        text-shadow: 7px 7px 0px red;
    }
    6% {
        text-shadow: -9px 4px 0px blue;
        transform: translate(4px, -10px) skewX(3240deg);
    }
    7% {
        text-shadow: 3px -4px 0px green;
    }
    9% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skewX(0deg);
    }
    2%,
    54% {
        transform: translateX(0px) skew(0deg);
    }
    55% {
        transform: translate(-2px, 6px) skew(-5530deg);
    }
    56% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }
    57% {
        text-shadow: 7px 7px 0px red;
        transform: translate(4px, -10px) skew(-70deg);
    }
    58% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }
    62% {
        text-shadow: 3px -4px 0px green;
        transform: translate(0px, 20px) skew(0deg);
    }
    63% {
        text-shadow: 0px 0px 3px white;
        transform: translate(4px, -2px) skew(0deg);
    }
    64% {
        transform: translate(1px, 3px);
        skew(-230deg);
    }
    65% {
        transform: translate(-7px, 2px);
        skew(120deg);
    }
    66% {
        transform: translate(0px, 0px) skew(0deg);
    }
}

/* Header y Navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
      background-color: #010f2b;
      height: 15px;
      ;
  }

#options {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 5px;
    color: #f0f2f5;
    text-decoration: none;
    text-align: center;
}
 

  
  nav {
    height: 10vh;
    background: #010f2b;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: #f0f2f5;
    text-decoration: none;
    font-size: 16px;
  }

  .logoHeader {
      display: block;
      margin-left: 20px;
      padding-top: 10px;
      width: 13%;
      align-items: center;

  }
  
  img {
      display: none;
  }

  @media screen and (max-width: 768px) {
    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    
    }
    .logoHeader{
        display: none;

    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background:#010f2b;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }

  /* Efectos de hover underline */

  ul { 
    /* margin: 150px auto 0;  */
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #b08070;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 50%; 
    left: 23%; 
  }

  /* ----------------------- NICO ------------------------------ */

footer{
    background-color: #343a40;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icon{
    margin: .5rem;
}

@media(min-width: 992px){
    .social-icons{
        flex-direction: column;
        align-items: center;
    }

    .social-icon{
        margin: 1rem;
    }

    .center-lg{
        text-align: center;
    }
}

.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f7b26a;
    font-size: 2.5rem;
}

.social-icon:hover{
    text-decoration: #f7b26a;
    color: tomato;
}

.copyright-legal{
    background-color: #181a1d;
}